
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <style>
    body{
      padding-top: 60px;
    }
  </style>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Trip Time!!!</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">

    {% if request.user.is_authenticated %}
    <a class="navbar-btn btn navbar-right" href="/">home</a>
    <a class="navbar-btn btn navbar-right" href="/logout">Logout</a>
    <p class="navbar-text navbar-right">Hello, {{ request.user.first_name}}</p>
    {% endif %}

    </div><!--/.nav-collapse -->
  </div>
</nav>
<nav class="navbar-nav">
  
</nav>

<div class="container">
    {% block body %}

    {% endblock %}
</div>

    <hr>
    <div class="container">
      <footer>
        <p>&copy; 2016 Sore Fingers, Inc.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </body>
</html>